In [3]:
import pandas as pd
df = pd.DataFrame({
    'A': [1, 2, 3],
    'B': [4, 5, 6]
})

for index, row in df.iterrows():
    print(f"Index: {index}, Row: {row['A'], row['B']}")
for column in df:
    print(f"Column: {column}, Data: {df[column]}")

Index: 0, Row: (1, 4)
Index: 1, Row: (2, 5)
Index: 2, Row: (3, 6)
Column: A, Data: 0    1
1    2
2    3
Name: A, dtype: int64
Column: B, Data: 0    4
1    5
2    6
Name: B, dtype: int64

In [3]:
import pandas as pd 
data = {'Name':['Aarju', 'Ansuya', 'Ansuya', 'Rhythm', 'Aarju', 'Rhythm'], 
        'Subject':['Biology', 'Biology', 'Computer', 'Mathematics', 'Mathematics', 'Mathematics']}

df = pd.DataFrame(data)
print(df.groupby('Name').groups)

{'Aarju': [0, 4], 'Ansuya': [1, 2], 'Rhythm': [3, 5]}

In [4]:
# importing pandas module
import pandas as pd 
 
# Define a dictionary containing employee data 
data1 = {'Name':['Jai', 'Anuj', 'Jai', 'Princi', 
                 'Gaurav', 'Anuj', 'Princi', 'Abhi'], 
        'Age':[27, 24, 22, 32, 
               33, 36, 27, 32], 
        'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj',
                   'Jaunpur', 'Kanpur', 'Allahabad', 'Aligarh'], 
        'Qualification':['Msc', 'MA', 'MCA', 'Phd',
                         'B.Tech', 'B.com', 'Msc', 'MA']} 
   
 

df = pd.DataFrame(data1)
 
print(df) 
df.groupby('Name')
print(df.groupby('Name').groups)

     Name  Age    Address Qualification
0     Jai   27     Nagpur           Msc
1    Anuj   24     Kanpur            MA
2     Jai   22  Allahabad           MCA
3  Princi   32    Kannuaj           Phd
4  Gaurav   33    Jaunpur        B.Tech
5    Anuj   36     Kanpur         B.com
6  Princi   27  Allahabad           Msc
7    Abhi   32    Aligarh            MA
{'Abhi': [7], 'Anuj': [1, 5], 'Gaurav': [4], 'Jai': [0, 2], 'Princi': [3, 6]}

In [7]:
list = [[1, 2], [1, 2], [1, 2]]
for a, b in list:
    print(a)
    print(b)
    print(c)

1
2
5
1
2
5
1
2
5

In [13]:
grp = df.groupby(['Name', 'Qualification'])
print(grp.groups)
for name, group in grp:
    for i in name:
        print(i)
        
    print(name)
    print(group)
    print()

{('Abhi', 'MA'): [7], ('Anuj', 'B.com'): [5], ('Anuj', 'MA'): [1], ('Gaurav', 'B.Tech'): [4], ('Jai', 'MCA'): [2], ('Jai', 'Msc'): [0], ('Princi', 'Msc'): [6], ('Princi', 'Phd'): [3]}
Abhi
MA
('Abhi', 'MA')
   Name  Age  Address Qualification
7  Abhi   32  Aligarh            MA

Anuj
B.com
('Anuj', 'B.com')
   Name  Age Address Qualification
5  Anuj   36  Kanpur         B.com

Anuj
MA
('Anuj', 'MA')
   Name  Age Address Qualification
1  Anuj   24  Kanpur            MA

Gaurav
B.Tech
('Gaurav', 'B.Tech')
     Name  Age  Address Qualification
4  Gaurav   33  Jaunpur        B.Tech

Jai
MCA
('Jai', 'MCA')
  Name  Age    Address Qualification
2  Jai   22  Allahabad           MCA

Jai
Msc
('Jai', 'Msc')
  Name  Age Address Qualification
0  Jai   27  Nagpur           Msc

Princi
Msc
('Princi', 'Msc')
     Name  Age    Address Qualification
6  Princi   27  Allahabad           Msc

Princi
Phd
('Princi', 'Phd')
     Name  Age  Address Qualification
3  Princi   32  Kannuaj           Phd

In [17]:
import pandas as pd 

# importing numpy as np
import numpy as np
 
# Define a dictionary containing employee data 
data1 = {'Name':['Jai', 'Anuj', 'Jai', 'Princi', 
                 'Gaurav', 'Anuj', 'Princi', 'Abhi'], 
        'Age':[27, 24, 22, 32, 
               33, 36, 27, 32], 
        'Address':['Nagpur', 'Kanpur', 'Allahabad', 'Kannuaj',
                   'Jaunpur', 'Kanpur', 'Allahabad', 'Aligarh'], 
        'Qualification':['Msc', 'MA', 'MCA', 'Phd',
                         'B.Tech', 'B.com', 'Msc', 'MA'],
        'Score': [23, 34, 35, 45, 47, 50, 52, 53]} 
   

df = pd.DataFrame(data1)
 
print(df) 

grp = df.groupby('Name')
grp.filter(lambda x: len(x) &gt= 2)

SyntaxError: expression cannot contain assignment, perhaps you meant "=="? (1041905947.py, line 23)

In [18]:
import pandas as pd 
  
# example dataframe 
example = {'Team':['Arsenal', 'Manchester United', 'Arsenal', 
                   'Arsenal', 'Chelsea', 'Manchester United', 
                   'Manchester United', 'Chelsea', 'Chelsea', 'Chelsea'], 
                     
           'Player':['Ozil', 'Pogba', 'Lucas', 'Aubameyang', 
                       'Hazard', 'Mata', 'Lukaku', 'Morata',  
                                         'Giroud', 'Kante'], 
                                           
           'Goals':[5, 3, 6, 4, 9, 2, 0, 5, 2, 3] } 
  
df = pd.DataFrame(example) 
  
print(df)

                Team      Player  Goals
0            Arsenal        Ozil      5
1  Manchester United       Pogba      3
2            Arsenal       Lucas      6
3            Arsenal  Aubameyang      4
4            Chelsea      Hazard      9
5  Manchester United        Mata      2
6  Manchester United      Lukaku      0
7            Chelsea      Morata      5
8            Chelsea      Giroud      2
9            Chelsea       Kante      3

In [23]:
total_goals = df['Goals'].groupby(df['Team']) 
  
# printing the means value 
print(total_goals.sum())

Team
Arsenal              15
Chelsea              19
Manchester United     5
Name: Goals, dtype: int64